[user]
	name = annnenpolka
	email = k.miyakewiss1@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.11.3/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.11.3/bin/gh auth git-credential
[pull]
	rebase = false
[alias]
ignore = !curl -L -s https://www.toptal.com/developers/gitignore/api/$@
