[user]
	name = annnenpolka
	email = k.miyakewiss1@gmail.com
[init]
	defaultBranch = main
[core]
	editor = nvim
[credential "https://github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.6.0/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/home/linuxbrew/.linuxbrew/Cellar/gh/2.6.0/bin/gh auth git-credential
